<div class="ui-g" style="text-align: center; background-color: #007849">
  <div class="ui-g-12" style="text-align: center">
    <img src="assets/img/logo.jpg" style="width:300px">
  </div>

</div>

<div class="backgroundImg">
  <div class="ui-g " style="text-align: left">
    <div class="ui-g-12 ui-md-6 ui-lg-4">
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h2>ΕΤΑΙΡΙΚΟ ΠΡΟΦΙΛ</h2>
      <p style="text-align: left">
        Η βιομηχανία πλαστικών με τον διακριτικό τίτλο ''ΠΛΑΣΤΙΚΑ-ΧΑΡΟΥΛΗ'' διανύει τον 29 χρόνο από την ίδρυση της, διατηρώντας
        διαχρονικά την εξειδίκευση της αποκλειστικά στην παραγωγή πλαστικών θηκών συσκευασίας φρούτων – λαχανικών.
      </p>
      <p style="text-align: left">
        Οι ηθικές αρχές και ο επαγγελματισμός που διακρίνουν την ιδιοκτήτρια της εταιρείας ΕΥΑΓΓΕΛΟΠΟΥΛΟΥ Γ. ΔΙΑΜΑΝΤΩ σε συνδυασμό
        με τα πανάξια στελέχη της, αποδείχτηκαν αρωγός στην διαχρονική αυξανόμενη καταξίωση της τόσο στην εσωτερική όσο και
        στην εξωτερική αγορά.
      </p>

      <br>
      <h2>ΥΠΟΔΟΜΕΣ</h2>

      <p style="text-align: left">
          <img src="assets/img/store.jpg" style="width:40%;float: right;">
        Η έδρα της εταιρείας βρίσκεται στην περιοχή Μακροχώρι του Ν.Ημαθείας με τις κτιριακές εγκαταστάσεις να ειναι άνω των 3,000
        m² και το μόνιμο προσωπικό παραγωγής να ξεπερνάει τους 30 υπαλλήλους. Η συνεχής αναβάθμιση των μηχανών παραγωγής
        ,και η επιμονή για την χρήση ποιοτικών πρώτων υλών σε συνδυασμό με το εμπειρότατο προσωπικό και πάνω από όλα ο σεβασμός
        που επιδεικνύουμε σε παλιούς και νέους συνεργάτες αποτελούν την πλέον ασφαλή εγγύηση σε αυτούς για μια άκρως επαγγελματική
        συνεργασία με διαχρονικό χαρακτήρα.
      </p>

      <br>
      <h2>ΠΟΙΟΤΙΚΗ ΕΠΙΒΡΑΒΕΥΣΗ</h2>
      <p style="text-align: left">
        Μια από τις κορυφαίες στιγμές της εταιρείας ήταν και η βράβευση της με το βραβείο ποιότητας σε εκθέσεις της Γαλλίας και της
        Ισπανίας της οποίας ο ανταγωνισμός ξεπερνούσε τις 300 εταιρείες από όλο τον κόσμο
      </p>
      <br>
      <h2>ΠΡΟΤΑΣΗ ΣΥΝΕΡΓΑΣΙΑΣ</h2>
      <p style="text-align: left">
        Με την σιγουριά ότι έχουμε την υποδομή να ικανοποιήσουμε τις απαιτήσεις της σύγχρονης αγοράς είμαστε έτοιμη να διευρύνουμε
        τις συνεργασίες μας σε Εθνικό και Ευρωπαϊκό επίπεδο.
      </p>
      <br>





      <h3> ΕΠΙΚΟΙΝΩΝΙΑ:</h3>
      <p style="text-align: left">
        Τηλέφωνο:
        <br> Fax:
        <br> E-mail: info@
        <br> Τμήμα Πωλήσεων: sales@
        <br> Τμήμα Προμηθειών: purchase@
        <br> Τμήμα Ποιοτικού Ελέγχου: quality@
        <br> Τμήμα Marketing: marketing@
        <br> Τμήμα Εξαγωγών: exports@
        <br>
      </p>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
    </div>
  </div>
</div>
