<div >
  <div class="ui-g" style="text-align: center; background-color: #007849">
    <div class="ui-g-12">
      <img src="assets/img/logo.jpg" style="width:15%">
    </div>

  </div>
  <div class="ui-g " style="text-align: center">
    <div class="ui-g-12 ui-md-6 ui-lg-4" >
      <img src="assets/img/side1.jpg " style="background-repeat:repeat-y; width:70%" align="left">
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <p>
        Η βιομηχανια Χαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια
        Χαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια Χαρουλης Χαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια Χαρουλης Χαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια Χαρουλης
        Χαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια ΧαρουληςΧαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια ΧαρουληςΧαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια Χαρουλης
        Χαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια ΧαρουληςΧαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια Χαρουλης
        Χαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια ΧαρουληςΧαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια ΧαρουληςΧαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια Χαρουλης
        Χαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια ΧαρουληςΧαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια ΧαρουληςΧαρουλης Η βιομηχανια Χαρουλης Η βιομηχανια Χαρουλης
      </p>
      <div class="ui-md-12">
        <img src="assets/img/store.jpg" style="width:50%">
      </div>

      <h2> Επικοινωνία:</h2>
      <p>

      </p>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <img src="assets/img/side2.jpg" style="background-repeat:repeat-y;width:70%"  align="right">
    </div>
  </div>
</div>
