
<div class="ui-g preventcopy" style="background-color: #007849">

  <div class="ui-g-12" style="text-align: center">
    <img src="assets/img/logo.jpg" style="width:300px">

  </div>

</div>

<div class="backgroundImg preventcopy">
  <div class="ui-g " style="text-align: left">
    <div class="ui-g-12 ui-md-6 ui-lg-4">
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <img (click)="changeLanguage('eng')" style="float:right; height: 25px;width: 25px;" src="/assets/img/eng.png">
        <img (click)="changeLanguage('gr')" style="float:right; height: 25px;width: 25px;" src="/assets/img/gr.png">
      <h2>{{content.companyProfile}}</h2>
      <p style="text-align: left">
        {{content.companyProfileText}}
      </p>

      <br>
      <h2>{{content.foundation}}</h2>

      <p style="text-align: left">
          <img src="assets/img/store.jpg" style="width:40%;float: right;">
        {{content.foundationText}}
      </p>

      <br>
      <h2>{{content.quality}}</h2>
      <p style="text-align: left">
        {{content.qualityText}}
      </p>
      <br>
      <h2>{{content.partnership}}</h2>
      <p style="text-align: left">
       {{content.partnershipText}}
      </p>
      <br>





      <h3> {{content.contact}}:</h3>
      <p style="text-align: left">
        {{content.telephone}}: 2331041177
        <br>{{content.fax}}: 2331041723
        <br>{{content.mail}}: <a href="mailto:info@plastika-harouli.gr">info@plastika-harouli.gr</a>
        <br>{{content.mail2}}: <a href="mailto:exporterdirector@plastika-harouli.gr">exporterdirector@plastika-harouli.gr</a>

        <br>
      </p>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
    </div>
  </div>
</div>
